<div
  class="modal fade"
  id="loginModal1"
  tabindex="-1"
  aria-labelledby="ModalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="myform bg-dark">
          <h1 class="text-center">Login</h1>
          {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        <script>
            $(document).ready(function() {
                $('#ModalFormLogin').modal('show');
            });
        </script>
    {% endif %}
          <form method="post" action="{% url 'login' %}" id="loginForm">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="id_username" class="form-label"
                ><i class="fa-solid fa-user"></i> Username</label
              >
              <input type="text" class="form-control" id="id_username"
              autocomplete="new-username" required="required" name="username"
              aria-describedby="usernameHelp" {% if request.method == 'POST' %}
              value="{{ request.POST.username }}" {% endif %}>
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label"
                ><i class="fa-solid fa-key"></i> Password</label
              >
              <input
                type="password"
                class="form-control"
                autocomplete="new-password"
                required="required"
                id="id_password"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-light mt-3">LOGIN</button>
            <p>
              Ainda não tem conta?
              <button
                type="button"
                class="btn btn-link"
                data-bs-toggle="modal"
                data-bs-target="#ModalRegister"
              >
                Registe-se
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalRegister" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-body">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">
          <h1 class="text-center">Registo</h1>
          <form method="POST" action="{% url 'inscricaoregisto' %}">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="id_username" class="form-label"><i class="fa-solid fa-user"></i> Username</label>
              <input type="text" class="form-control" id="id_username" autocomplete="new-username" required="required"
                name="username" aria-describedby="usernameHelp" {% if request.method == 'POST' %}
                value="{{ request.POST.username }}" {% endif %}>
            </div>
            <div class="mb-3">
              <label for="inputEmail4" class="form-label">Email *</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="" name="email" required="required"
                value="{{ request.user.email }}">
            </div>
            <div class="mb-3">
              <label for="id_password1" class="form-label"><i class="fa-solid fa-key"></i> Password</label>
              <input type="password" class="form-control" autocomplete="new-password" id="id_password1"
                required="required" name="password1" />
            </div>
            <div class="mb-3">
              <label for="id_password2" class="form-label"><i class="fa-solid fa-key"></i> Confirm Password</label>
              <input type="password" class="form-control" autocomplete="new-password" id="id_password2"
                required="required" name="password2" />
            </div>
            <div class="mb-3">
            <label class="form-label">Primeiro Nome *</label>
            <input type="text" class="form-control" placeholder="" aria-label="Primeiro Nome" name="first_name"
              required="required" value="{{ request.user.first_name }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Último Nome *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Último Nome" name="last_name"
                required="required" value="{{ request.user.last_name }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Nomes do Meio *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Nomes do Meio" name="nomes_do_meio"
                required="required" value="{{ request.user.participante.nomes_do_meio }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Nif *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Nif" name="nif" required="required"
                value="{{ request.user.participante.nif }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Morada *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Morada" name="morada" required="required"
                value="{{ request.user.participante.morada }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Contacto *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Contacto" name="contacto"
                required="required" value="{{ request.user.participante.contacto }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Freguesia *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Freguesia" name="freguesia"
                required="required" value="{{ request.user.participante.freguesia }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Concelho *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Concelho" name="concelho"
                required="required" value="{{ request.user.participante.concelho }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Distrito *</label>
              <input type="text" class="form-control" placeholder="" aria-label="Distrito" name="distrito"
                required="required" value="{{ request.user.participante.distrito }}">
            </div>
            <div class="mb-3">
              <label class="form-label">Código Postal *</label>
              <input type="text" class="form-control" placeholder="" aria-label="CodigoPostal" required="required"
                name="codigo_postal" value="{{ request.user.participante.codigo_postal }}">
            </div>
            <div class="mb-3" visually-hidden>
              <input type="text" class="form-control" placeholder="" style="display: none;" aria-label="" id="idatividade"
                name="idatividade" value>
            </div>
            <button type="submit" class="btn btn-light mt-3">Registar</button>
            <p>
              Já tem conta criada?
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#loginModal1">
                Login
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Original Modal for Activity Registration -->

<div class="modal fade" id="myModal50" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-body">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <div class="myform bg-dark">
                    <h1 class="text-center">Inscrição</h1>
                    <form method="POST" id="inscricaoform" action="{% url 'inscricao' %}">
                        {% csrf_token %}
                        <div class="mb-3 mt-4">
                            <label class="form-label">Primeiro Nome *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Primeiro Nome"
                                name="first_name" required="required" value="{{ request.user.first_name }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Último Nome *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Último Nome"
                                name="last_name" required="required" value="{{ request.user.last_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail4" class="form-label">Email *</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="" name="email"
                                required="required" value="{{ request.user.email }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nomes do Meio *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nomes do Meio"
                                name="nomes_do_meio" required="required"
                                value="{{ request.user.participante.nomes_do_meio }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nif *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nif" name="nif"
                                required="required" value="{{ request.user.participante.nif }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Morada *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Morada" name="morada"
                                required="required" value="{{ request.user.participante.morada }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contacto *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Contacto" name="contacto"
                                required="required" value="{{ request.user.participante.contacto }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Freguesia *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Freguesia"
                                name="freguesia" required="required" value="{{ request.user.participante.freguesia }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Concelho *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Concelho" name="concelho"
                                required="required" value="{{ request.user.participante.concelho }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Distrito *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Distrito" name="distrito"
                                required="required" value="{{ request.user.participante.distrito }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Código Postal *</label>
                            <input type="text" class="form-control" placeholder="" aria-label="CodigoPostal"
                                required="required" name="codigo_postal"
                                value="{{ request.user.participante.codigo_postal }}">
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" style="display: none;" id="idatividade1" name="idatividade1" value=>
                        </div>
                        <button type="submit" class="btn btn-light mt-3">Pré-Inscrição</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Include the JavaScript/jQuery code -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function openModal(cursoID) {
    var isLoggedIn = {{ request.user.is_authenticated|lower }};
  
    // Set the value of the input field
    $('#idatividade').val(cursoID);
    $('#idatividade1').val(cursoID);
  
    if (isLoggedIn) {
      // User is logged in
      // Show the modal for registered users
      $('#myModal50').modal('show');
    } else {
      // User is not logged in
      // Show the modal for login or registration
      $('#loginModal1').modal('show');
    }
  }
</script>

<script>
  $(document).ready(function() {
    $('#loginForm').submit(function(e) {
      e.preventDefault(); // Prevent the form from submitting normally

      // Perform AJAX login request
      $.ajax({
        type: 'POST',
        url: '/logininscricao/',  // Update with the correct URL path for the logininscricao view
        data: $(this).serialize(),
        success: function(response) {
          // Check the response for login success
          if (response.success) {
            // Perform any additional login-related logic here
            // ...

            // Get the atividade value
            var atividade = $('#idatividade1').val();

            // Refresh the page with the atividade value as a query parameter
            var url = window.location.href.split('?')[0] + '?atividade=' + atividade;
            window.location.href = url;
          } else {
            // Handle login failure, if needed
            // ...
          }
        },
        error: function(xhr, status, error) {
          // Handle AJAX errors, if any
          // ...
        }
      });
    });

    // Check if atividade query parameter exists in the URL
    var params = new URLSearchParams(window.location.search);
    if (params.has('atividade')) {
      var atividade = params.get('atividade');

      // Set the atividade value to the hidden input field
      $('#idatividade1').val(atividade);
      
      // Open the modal with the respective atividade
      $('#myModal50').modal('show');
      // Use the atividade value in the modal as needed
      // ...
    }
  });
</script>







