{% extends "stakeholders/index.html" %}
{% block title %}

{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>Perfil</h3>
				<hr>
			</div>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}

			<!-- Form START -->
			<form class="file-upload" method="POST" id="profile-form">
        {% csrf_token %}
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Detalhes de Contacto</h4>
                <!-- Primeiro Nome -->
                <div class="col-md-6">
                  <label class="form-label">Primeiro Nome *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Primeiro Nome" name="first_name" required="required" value="{{ request.user.first_name }}">
                </div>

                <!-- Último Nome -->
                <div class="col-md-6">
                    <label class="form-label">Último Nome *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Último Nome" name="last_name" required="required" value="{{ request.user.last_name }}">
                </div>

                <!-- Email -->
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email *</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="" name="email" required="required" value="{{ request.user.email }}">
                </div>

                <!-- Nome Completo -->
                <div class="col-md-6">
                    <label class="form-label">Nome Completo *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Nome Completo" name="nome_completo" required="required" value="{{ request.user.profile.nome_completo }}">
                </div>

                <!-- Nif -->
                <div class="col-md-6">
                    <label class="form-label">Nif *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Nif" name="nif" required="required" value="{{ request.user.profile.nif }}">
                </div>

                <!-- Morada -->
                <div class="col-md-6">
                  <label class="form-label">Morada *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Morada" name="morada" required="required" value="{{ request.user.profile.morada }}">
                </div>

                <!-- Contacto -->
                <div class="col-md-6">
                  <label class="form-label">Contacto *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Contacto" name="contacto" required="required" value="{{ request.user.profile.contacto }}">
                </div>

                <!-- Freguesia -->
                <div class="col-md-6">
                  <label class="form-label">Freguesia *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Freguesia" name="freguesia" required="required" value="{{ request.user.profile.freguesia }}">
                </div>

                <!-- Concelho -->
                <div class="col-md-6">
                  <label class="form-label">Concelho *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Concelho" name="concelho" required="required" value="{{ request.user.profile.concelho }}">
                </div>

                <!-- Distrito -->
                <div class="col-md-6">
                  <label class="form-label">Distrito *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Distrito" name="distrito" required="required" value="{{ request.user.profile.distrito }}">
                </div>

                <!-- Código Postal -->
                <div class="col-md-6">
                  <label class="form-label">Código Postal *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="CodigoPostal" required="required" name="codigo_postal" value="{{ request.user.profile.codigo_postal }}">
                </div>
		
							</div> <!-- Row END -->
						</div>
					</div>
				</div> <!-- Row END -->

					<!-- change password -->
          <div class="col-xxl-6">
            <div class="bg-secondary-soft px-4 py-5 rounded">
              <div class="row g-3">
                <h4 class="my-4">Mudar Password</h4>
                <!-- Old password -->
                <div class="col-md-6">
                    <label for="old_password" class="form-label">Password Antiga *</label>
                    <input type="password" class="form-control" id="old_password" name="old_password">
                </div>
                <!-- New password -->
                <div class="col-md-6">
                    <label for="new_password" class="form-label">Nova password *</label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
                <!-- Confirm password -->
                <div class="col-md-12">
                    <label for="confirm_password" class="form-label">Confirmar Password *</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
              </div>
            </div>
          </div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<button type="submit" class="btn btn-primary btn-lg" form="profile-form">Gravar Mudanças</button>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
	</div>



<style>
    body {
    color: #9b9ca1;
    }
    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
    }
    .rounded {
        border-radius: 5px !important;
    }
    .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .file-upload .square {
        height: 250px;
        width: 250px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #e5dfe4;
        background-color: #fff;
        border-radius: 5px;
    }
    .text-secondary {
        --bs-text-opacity: 1;
        color: rgba(208, 212, 217, 0.5) !important;
    }
    .btn-success-soft {
        color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }
    .btn-danger-soft {
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.1);
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e5dfe4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
</style>

{% endblock %}