{% extends "stakeholders/index.html" %}
{% block title %}

{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>Requisitar Parceria</h3>
				<hr>
			</div>


			<!-- Form START -->
			<form class="file-upload" method="POST" id="requisitar-form">
                {% csrf_token %}
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Detalhes de Utilizador</h4>
                                <!-- Username -->
                                <div class="col-md-6">
                                    <label class="form-label">Username *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" name="username" required="required" value>
                                </div>
                                <!-- Primeiro Nome -->
                                <div class="col-md-6">
                                    <label class="form-label">Primeiro Nome *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Primeiro Nome" name="first_name" required="required" value>
                                </div>
                                <!-- Último Nome -->
                                <div class="col-md-6">
                                    <label class="form-label">Último Nome *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Último Nome" name="last_name" required="required" value>
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email *</label>
                                    <input type="Email" class="form-control" id="inputEmail4" placeholder="" name="email" required="required" value>
                                </div>
                                <!-- New password -->
                                <div class="col-md-6">
                                    <label for="password" class="form-label">Password *</label>
                                    <input type="Password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
                                <h4 class="mb-4 mt-0">Detalhes da Parceria</h4>
                                <!-- Nome da Empresa -->
                                <div class="col-md-6">
                                    <label class="form-label">Nome da Empresa *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Nome da Empresa" name="nome_empresa" required="required" value>
                                </div>
                                <!-- Morada -->
                                <div class="col-md-6">
                                    <label class="form-label">Morada *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Morada" name="morada" required="required" value>
                                </div>
                                <!-- Código Postal -->
                                <div class="col-md-6">
                                    <label class="form-label">Código Postal *</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Código Postal" name="codigo_postal" required="required" value>
                                </div>
                                <!-- Contato Telefónico -->
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Contato Telefónico *</label>
                                    <input type="Contato Telefónico" class="form-control" placeholder="" name="contacto_telefonico" required="required" value>
                                </div>
                                <!-- Entidade -->
                                <div class="col-md-6">
                                    <label class="form-label">Entidade *</label>
                                    <select class="form-control" name="entidade_id" required="required">
                                        {% for entidade in entidades %}
                                            <option value="{{ entidade.id }}">{{ entidade.designacao }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Descrição -->
                                <div class="col-md-12">
                                    <label class="form-label">Descrição</label>
                                    <textarea class="form-control" rows="5" name="descricao"></textarea>
                                </div>
                
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<button type="submit" class="btn btn-primary btn-lg" form="requisitar-form">Enviar Requisição</button>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
	</div>



<style>
    body {
    color: #9b9ca1;
    }
    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
    }
    .rounded {
        border-radius: 5px !important;
    }
    .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .file-upload .square {
        height: 250px;
        width: 250px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #e5dfe4;
        background-color: #fff;
        border-radius: 5px;
    }
    .text-secondary {
        --bs-text-opacity: 1;
        color: rgba(208, 212, 217, 0.5) !important;
    }
    .btn-success-soft {
        color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }
    .btn-danger-soft {
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.1);
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e5dfe4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
</style>

{% endblock %}